{% extends 'base.html' %}

{% block head %} 
<title>Blog</title>
{% endblock %}

{% block body %}
    <form action="/home" method="POST">
        Blog_Title: <input type="text" id="title" name="title" required><br>
        Author:     <input type="text" id="author" name="author" required><br>
        Content:    <input type="text" id="content" name="content" required><br>
        <input type="submit" id="post" value="Post"> 
    </form>
    {% for post in posts %}
     <hr>
     <h2>{{post.Blog_title}}</h2>
     <h3>Author: {{post.Author}}</h3>
     <p>Content: {{post.Content}}</p>
     <a href="/home/delete/{{post.id}}">delete</a>
     <a href="/home/edit/{{post.id}}">edit</a>
    {% endfor %}
{% endblock %}